*{
   margin: 0px; 
   padding: 0px;
   box-sizing: border-box;
   font-family: 'poppins',sans-serif;
}

header{
   margin-left: 42px;
   margin-top: 47px;
   font-weight: 400;
   font-size: 14px;
   cursor: pointer;
   word-spacing: 32px;
   letter-spacing: 1px;
   color: #17233D;
   
  
}
.button {
   background-color: rgba(21, 255, 0, 0.856);
   border: 1px solid #4cb53b;
   border-radius: 6px;
   width: 124px;
   height: 51px;
   cursor: pointer;
 } 
 img{
   margin: 163px 0 0 123px;
   display: inline-block;
 }





.h1{  
font-family: Poppins;
font-weight: 700px;
font-size: 62px;
line-height: 82px;
letter-spacing: 0.6px;
background: #161A49;
width: 582;
height: 164;
top: 342px;
left: 801px;


}
.p{
font-family: Poppins;
font-weight: 400;
font-size: 18px;
line-height: 33px;
letter-spacing: 0.5px;
background: #4B505A;
width: 493;
height: 99;
top: 553px;
left: 801px;



}

.button2{
font-family: Poppins;
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 1px;
color: #6FBF44;
cursor: pointer;
background: transparent;
border: none;
width: 112;
height: 27;
top: 707px;
left: 801px;





}

div{
   display: inline-block;
   margin-left: 85px;
   width: 493px;
}





